<tr id="endpoint_<%= endpoint.id %>">
  <td class="px-4 py-4 text-sm font-medium text-gray-200 whitespace-nowrap">
    <div class="inline-flex items-center gap-x-3">
      <span><%= endpoint.name %></span>
    </div>
  </td>
  <td class="px-4 py-4 text-sm text-gray-300 whitespace-nowrap">
    <%= endpoint.updated_at || 'Never' %>
  </td>
  <td class="px-4 py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
    <%= render_status(endpoint.status&.status) %>
  </td>
  <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
    <div class="flex items-center gap-x-2">
      <div>
        <h2 class="text-sm font-medium text-gray-800 dark:text-white ">
          <%= endpoint.status&.response_time %>/<%= endpoint.max_response_time %>
        </h2>
      </div>
    </div>
  </td>
  <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">
    <% endpoint.history_days.order(:date).each do |day| %>
      <%= render_history_day(day) %>
    <% end %>
  </td>
  <td class="px-4 py-4 text-sm whitespace-nowrap">
    <div class="flex items-center gap-x-6">
      <%= button_to "Remove", endpoint_path(endpoint),
                    method: :delete,
                    remote: true,
                    form: { data: { turbo_confirm: 'Are you sure?' } },
                    class: "text-red-500 transition-colors duration-200 hover:text-indigo-500 focus:outline-none" %>

    </div>
  </td>
</tr>
